<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="INSTR_INFO">
    
    <!-- 교수정보  가져오기 -->
    <select id="prlist" resultType="com.teamp.cau.dto.professorDTO">
    	select * from INSTR_INFO;
    	
    </select>
    
    <!-- 교수정보 검색 -->
    <select id="search" parameterType="HashMap" resultType="com.teamp.cau.dto.professorDTO">
    	select * from INSTR_INFO
    		<choose>
    			<when test="name_search != null and code_search != null">
    				where korn_flnm like '%${name_search}%' and crclm_cd like '%${code_search}%';
    			</when>
    			<when test="name_search != null and (code_search == null or code_search == '')">
    				where korn_flnm like '%${name_search}%';
    			</when>
    			<when test="(name_search == null or name_search =='') and code_search != null">
    			where crclm_cd like '%${code_search}%';
    			</when>
    			<otherwise>
				</otherwise>
    		</choose>
    </select>
    
    <!-- 교수정보 입력  -->
    <insert id="prinfo_save" parameterType="HashMap" >
    	insert into INSTR_INFO(INSTR_NO, KORN_FLNM, CRCLM_CD, USER_BRDT, EML_ADDR, ADDR, DADDR, GENDER, TELNO)
    	values (#{pr_no}, #{pr_name}, #{pr_dep}, #{pr_birth}, #{pr_email}, #{roadAddrPart1}, #{addrDetail}, #{pr_gender}, #{pr_telno});
    </insert>
   	
   	<!-- 평가 점수 저장 -->
   	<insert id="resultScore" parameterType="HashMap">
   		insert into APPL_INFO(interview, total)
   		values (#{inter_score}, #{total_score});
   	</insert>
   	
   	
   	<!-- 본인정보수정 수정 및 저장  -->
   	<insert id="selfSave" parameterType="HashMap">
   		insert into APPL_INFO ()
   	
   	</insert>
   	
    </mapper>