<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="USER_INFO">
    
    <!-- 교수아이디 넘기기 -->
    <insert id="instr_user">
    	insert into USER_INFO(INSTR_NO, TELNO, EML_ADDR, USER_BRDT, KORN_FLNM, USER_ID, PSWD, ROLE_CODE )
    	values (#{pr_no}, #{pr_telno}, #{pr_email}, #{pr_birth}, #{pr_name}, #{pr_id},#{pr_pw}, PROFESSOR);
    </insert>
    
    
        
    </mapper>