<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="r_list">

	<select id="detail" resultType="PassDTO">
		SELECT PDF
		FROM APPL_INFO
	</select>

	<select id="studentList" parameterType="PassDTO"
		resultType="PassDTO">
		
		SELECT *
		FROM APPL_INFO
		WHERE PASS_INFO  <![CDATA[<]]> 6  AND department = #{department} AND  category =#{category}  AND  KORN_FLNM LIKE CONCAT('%', #{KORN_FLNM}, '%')
		ORDER BY avg DESC
		LIMIT 30;
		
	</select>

	<update id="Passupdate" parameterType="PassDTO">
		UPDATE APPL_INFO
		SET
		PASS_INFO=#{PASS_INFO}
		WHERE appl_NO=#{appl_NO}

	</update>
	<select id="result" resultType="int" parameterType="PassDTO">
		SELECT
		PASS_INFO
		FROM APPL_INFO
		WHERE appl_NO=#{appl_NO}
	</select>
	<select id="department" resultType="PassDTO">
		SELECT DISTINCT department
		FROM APPL_INFO
	</select>
	<select id="categoryList" resultType="PassDTO">
		SELECT DISTINCT category
		FROM APPL_INFO
	</select>
</mapper>
