<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamp.cau.dao.RecruitDAO">
	<select id="year" resultType="com.teamp.cau.dto.RecruitDTO">
		SELECT YEAR
		FROM RECRUIT
		ORDER BY YEAR DESC
	</select>
	<select id="depart" resultType="com.teamp.cau.dto.RecruitDTO">
		SELECT DEPARTMENT
		FROM CRCLM_INFO
	</select>
	<select id="check" resultType="com.teamp.cau.dto.RecruitDTO" parameterType="com.teamp.cau.dto.RecruitDTO">
		<if test="DEPARTMENT == 'all'">
			SELECT DEPARTMENT, APPL_NUM
			FROM CRCLM_INFO	
		</if>
		<if test="DEPARTMENT != 'all'">
			SELECT DEPARTMENT, APPL_NUM
			FROM CRCLM_INFO
			WHERE DEPARTMENT = #{DEPARTMENT }
		</if>
	</select>
</mapper>