<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamp.cau.dao.StudentDAO">
	
	<select id="studentList" parameterType="com.teamp.cau.dto.StudentDTO" resultType="com.teamp.cau.dto.StudentDTO">
	
		SELECT APPL_NO, KORN_FLNM, USER_BRDT, GENDER_CD, EML_ADDR, TELNO, REL_TELNO,
	        REL_CD, ZIP, ADDR, DADDR, AGE 
	    FROM APPL_INFO
		WHERE KORN_FLNM LIKE CONCAT('%', #{KORN_FLNM}, '%')
	
	</select>
	

</mapper>

